#timer {
    position: absolute;
    float: right;
    margin-left: 75%;
    width: 33%;
    font-size: 20px;
    
}
#high-scores {
    width: 33%;
    font-size: 20px;
}

#container {
    position: absolute;
    margin-left: 30%;
    margin-right: 35%;
    margin-top: 10%;
    height: 550px;
    width: 550px;
}

#container {
    border: 2px solid blue;
}
#container h1  {
 text-align: center;
 font-size: 50px;
}
#container p {
    margin: 10px;
}
button {
    margin-left: 33%;
    margin-top: 5%;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10%;
    background-color: blue;
    color: white;
}